* {
  margin: 0;
}

h3 {
  text-align: center;
}

.App {
  background-color: #fafafa !important;
  min-height: 100vh;
  padding-bottom: 40px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-top: 30px;
}

.app__signup input {
  margin-top: 40px;
  letter-spacing: 1px;
}

.app__signup button {
  margin-top: auto;
}

.app__posts {
  padding: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}